<!DOCTYPE html>
<html>
    <head>
        <title>Utilities</title>
        <link rel="icon" type="image/x-icon" href="https://icons.g10.app/g10.png">
        <link rel="stylesheet" type="text/css" href="https://g10.app/style.css">
		<script src="https://unpkg.com/htmx.org@1.9.8"></script>
        <meta charset="UTF-8" />
    </head>
    <body>
		
		<div hx-get="https://g10.app/navbar.html" hx-swap="outerHTML" hx-trigger="load"></div>
        <div hx-get="https://g10.app/utilities/navbar.html" hx-swap="outerHTML" hx-trigger="load"></div>

		<div class="body">
            <p>Simple tools for working with G10.</p>
		</div>
		
		<div class="footer">
			<p>G10, Copyright © 2024, Jacob Smith, Benjamin Daly, Aiden Smith.</p>
			<p>Made with ❤️ for 👤 on 🌎</p>
		</div>
    </body>
</html>