<!DOCTYPE html>
<html>
    <head>
        <title>gschema</title>
        <link rel="icon" type="image/x-icon" href="https://icons.g10.app/g10.png">
        <link rel="stylesheet" type="text/css" href="https://g10.app/style.css">
		<script src="https://unpkg.com/htmx.org@1.9.8"></script>
        <meta charset="UTF-8" />
    </head>
    <body>
		
		<div hx-get="https://g10.app/navbar.html" hx-swap="outerHTML" hx-trigger="load"></div>
		<div hx-get="https://g10.app/schema/navbar.html" hx-swap="outerHTML" hx-trigger="load"></div>

		<div class="body">
			<p>Gschema is JSON Schema for validating and documenting G10 data. One might use Gschema to manually author game assets, or validate that a config file is usable. </p>
		</div>
		
		<div class="footer">
			<p>Gschema, Copyright © 2023, Jacob Smith.</p>
			<p>Made with ❤️ for 👤 on 🌎</p>
		</div>
    </body>
</html>
