<!DOCTYPE html>
<html>
    <head>
        <title>Jake</title>
        <link rel="icon" type="image/x-icon" href="https://icons.g10.app/jake.png">
        <link rel="stylesheet" type="text/css" href="https://g10.app/style.css">
		<script src="https://unpkg.com/htmx.org@1.9.8"></script>
        <meta charset="UTF-8" />
    </head>
    <body>
		<div hx-get="https://g10.app/navbar.html" hx-swap="outerHTML" hx-trigger="load"></div>
		<div hx-get="https://g10.app/people/navbar.html" hx-swap="outerHTML" hx-trigger="load"></div>
		<div hx-get="https://g10.app/people/jake/navbar.html" hx-swap="outerHTML" hx-trigger="load"></div>

		<div class="body" style="padding-top: 1em;">
			<div style="display: table; width: 100%; justify-content: center; margin: 0; text-align: center;">
				<h1 style="margin: 0.75em 0% 0.5em 0%;"><b>Jake</b></h1>
					<div width="100%" style="margin: 0 35%">
						<div style="display: grid; width: 100%; justify-content: center; margin: 0; text-align: left;">
							<div style="padding: 0;margin: 0% 0% 0em 0%;">
								<p>
									I'm Jake. I'm 21 years old. Programming is my passion, but I enjoy building
									knowledge in all types of subject matter. A few of my favorite are
									computer science, chemistry, philosophy, mathematics and socio-political
									economy. The development of the intellect is my greatest goal in life,
									because I was once told <i>scientia potentia est</i>. I started writing the
									G10 game engine alone in early 2020. I am studying for my undergraduate degree
									in computer science. I work as a researcher at my educational institution. 
								</p>
								<p style="margin-top: 1em;">
									Right now, my focus is on developing a <a href="https://g10.app/status">strong software stack</a> 
									to streamline my software development efforts. I am actively applying this 
									software stack in both my personal and professional projects. Once G10 
									meets my expectations, I'd like to apply the technology to create a
									<a href="https://g10.app/products/tanks/">video game</a>, 
									and begin to market it. Once I reach this milestone, I'd like to start a 
									game studio and develop commercial products. 
								</p>
							</div>
						</div>
					</div>
			</div>

			<h3 style="margin: 2em 0% 1em 0%; text-align: center;">Pictures</h3>

			<div style="display: grid; width: 100%; justify-content: center; padding: 0 0 2em 0; text-align: center;">
				<div width="100%" style="margin: 0% 0% 0% 0%;">
					<img style="border: 1%;border-color: black;border-style: solid;" src="jake-hs.jpg" style="width:100%">
				</div>
			</div>
		</div>
		
		
		<div class="footer">
			<p>Copyright © 2024, Jacob Smith.</p>
			<p>Made with ❤️ for 👤 on 🌎</p>
		</div>
    </body>
</html>