<div hx-get="https://g10.app/navbar.html" hx-swap="outerHTML" hx-trigger="load"></div>
<div hx-get="https://g10.app/people/navbar.html" hx-swap="outerHTML" hx-trigger="load"></div>
<div hx-get="https://g10.app/people/jake/navbar.html" hx-swap="outerHTML" hx-trigger="load"></div>

<nav class="header" style="z-index: 1;">
    <ul class="nav-links">
        <div class="menu">
            <a href="https://g10.app/people/jake/eddy/">
                <picture>
                    <img src="https://icons.g10.app/eddy.png" style="image-rendering: pixelated;" width="32px" height="32px">
                </picture>
            </a>

            <li class="services">
                <a href=".">Manual</a>
            </li>
        </div>
    </ul>
</nav>
<hr>