<!DOCTYPE html>
<html>
    <head>
        <title>Shader Compiler</title>
        <link rel="icon" type="image/x-icon" href="https://icons.g10.app/g10.png">
        <link rel="stylesheet" type="text/css" href="https://g10.app/style.css">
        <meta charset="UTF-8" />
		<script src="https://unpkg.com/htmx.org@1.9.8"></script>
		<style>
			.tooltip {
			  position: relative;
			  display: inline-block;
			  border-bottom: 1px dotted black;
			}
			
			.tooltip .tooltiptext {
			  visibility: hidden;
			  background-color: black;
			  color: #fff;
			  text-align: center;
			  border-radius: 6px;
			  padding: 1em 1em;
			  
			  /* Position the tooltip */
			  position: absolute;
			  z-index: 1;
			  bottom: 100%;
			  right: 0%;
			  left: 0%;
			  margin-left: -100%;
			  margin-right: -100%;

			}
			
			.tooltip:hover .tooltiptext {
			  visibility: visible;
			}
		</style>
    </head>
    <body>
		<div hx-get="https://g10.app/navbar.html" hx-swap="outerHTML" hx-trigger="load"></div>
        <div hx-get="https://g10.app/utilities/navbar.html" hx-swap="outerHTML" hx-trigger="load"></div>
        <div hx-get="https://g10.app/utilities/shader-compiler/navbar.html" hx-swap="outerHTML" hx-trigger="load"></div>

		<div class="body" style="padding-top: 1em;">
			<div style="display: table; width: 100%; justify-content: center; margin: 0; text-align: center;">
				<h1 style="margin: 0.75em 0% 0.5em 0%;"><b>Shader Compiler</b></h1>
					<div width="100%" style="margin: 0 35%">
						<div style="display: grid; width: 100%; justify-content: center; margin: 0; text-align: left;">
							<div style="padding: 0;margin: 0% 0% 0em 0%;">
								The <b>shader compiler</b> is a program for (re)compiling the GLSL source code in G10 shaders. The program can compile shaders for all types of Vulkan pipeline, including mesh/task shaders. When the application starts, a console window is opened for output
							</div>
						</div>
					</div>
			</div>
			<h3 style="margin: 2em 0% 1% 0%; text-align: center;">Preparation</h3>
			<div width="100%" style="margin: 0 35%">
				<div style="display: grid; width: 100%; justify-content: center; margin: 0; text-align: left;">
					<div style="padding: 0;margin: 0% 0% 0em 0%;">
						Be sure to install the <a href="https://vulkan.lunarg.com/sdk/home">Vulkan SDK</a> and set a 
						<code style="display: inline-block;background-color: lightgray;border-radius: 1em;border: 1px solid #000000;padding: 0.1em 0.5em 0.125em 0.5em;">
							<div class="tooltip" style="display: inline-block;">
								G10_SOURCE_PATH
								<span class="tooltiptext">
									<div><p style="display:inline;border-bottom: 1px dotted white;">G10_SOURCE_PATH</p> is an environment variable referencing the path to the directory containing the G10 executable.</div>
								</span>
							</div>
						</code>
						environment variable.
					</div>
				</div>
			</div>
			<h3 style="margin: 2em 0% 1% 0%; text-align: center;">Instructions</h3>
			<div width="100%" style="margin: 0 35%">
				<div style="display: inline-table; width: 100%; justify-content: center; margin: 0; text-align: left;">
					<p style="margin: 0% 0% 0.5em 0%; ">0. <b><a href="https://github.com/Jacob-C-Smith/shader-compiler/releases/latest">Download</a></b> the G10 shader compiler for your machine</p>
					<p style="margin: 0% 0% 0.5em 0%; ">1. <b>Drag 'n' drop</b> your shader JSON file into the shader compiler</p>
					<p style="margin: 0% 0% 0.5em 0%; ">
						<div style="margin: 0% 0% 0.5em 0%; ">
							2. 
							<b>Inspect</b>
							the 
							<code style="display: inline-block;background-color: lightgray;border-radius: 1em;border: 1px solid #000000;padding: 0.1em 0.5em 0.125em 0.5em;">
								<div class="tooltip" style="display: inline-block;">

									glslangValidator
									<span class="tooltiptext">
										<div><p style="display:inline;border-bottom: 1px dotted white;">glslangValidator</p> is a program in the Vulkan SDK that compiles GLSL shaders to SPIR-V binaries. If the shader compilation produces <b style="color: #ff0000;">errors</b>, <b style="color: #f0f000;">warnings</b>, and/or <b style="color: #4040ff;">logs</b>, that output will appear in the console window.</div>
									</span>
								</div>
							</code>
							
							output in the console window
						</div>
					</p>
					<p style="margin: 0% 0% 0.5em 0%; ">3. 
						<b>Use</b>
						the shaders you just compiled for whatever you want
					</p>
				</div>
			</div>

			<h3 style="margin: 2em 0% 2em 0%; text-align: center;">Screenshots</h3>

			<div style="display: grid; width: 100%; justify-content: center; margin: 0; text-align: center;">
				<div width="100%" style="margin: 0% 0% 0% 0%;">
					<img src="shader-compiler-use.png" style="image-rendering: pixelated;width:100%;">
					<p style="margin: 0% 0% 3em 0%;"><i>A typical use case on the desktop.</i></p>
				</div>

				<div width="100%" style="margin: 0% 0% 0% 0%;">
					<img src="shader-compiler.png" style="image-rendering: pixelated;width:100%">
					<p style="margin: 0% 0% 0% 0%;"><i>The shader compiler after it is <b>opened</b></i></p>
					<p style="margin: 0% 0% 0% 0%;">
						<div style="margin: 0% 0% 3em 0%;"><i>
							Note that the path has been autofilled with the 
							<code style="display: inline-block;background-color: lightgray;border-radius: 1em;border: 1px solid #000000;padding: 0.1em 0.5em 0.125em 0.5em;">
								<div class="tooltip" style="display: inline-block;">
									G10_SOURCE_PATH 
									<span class="tooltiptext"> <div><p style="display:inline;border-bottom: 1px dotted white;">G10_SOURCE_PATH</p> is an environment variable referencing the path to the directory containing the G10 executable.</div> </span>
								</div>
							</code>
							environment variable.
						</i></div>
					</p>
				</div>
				<div width="100%" style="margin: 0% 0% 0% 0%;">
					<img src="shader-compiler-good.png" style="image-rendering: pixelated;width:100%">
					<p style="margin: 0% 0% 0em 0%;"><i>The shader compiler after <b style="color: #00c000;">successfully</b> compiling graphics shaders.</i></p>
					<p style="margin: 0% 0% 3em 0%;"><i>Note the success message</i></p>
				</div>
				<div width="100%" style="margin: 0% 0% 0% 0%;">
					<img src="shader-compiler-bad.png" style="image-rendering: pixelated;width:100%">
					<p style="margin: 0% 0% 0em 0%;"><i>The shader compiler after <b style="color: #ff0000;">erroneously</b> compiling ray shaders.</i></p>
					<p style="margin: 0% 0% 3em 0%;"><i>Note the checks and exclaimation points, corresponding to successes and failures</i></p>
				</div>
				<div width="100%" style="margin: 0% 0% 0% 0%;">
					<img src="shader-compiler-invalid.png" style="image-rendering: pixelated;width:100%">
					<p style="margin: 0% 0% 0em 0%;"><i>The shader compiler after attempting to parse an <b style="color: #ff0000;">invalid input</b> file</i></p>
					<p style="margin: 0% 0% 6em 0%;"><i>Attempting to compile a file that is not a shader produces an error </i></p>
				</div>
			</div>
		</div>
		
		<div class="footer">
			<p>g10 shader compiler, Copyright © 2024, Jacob Smith.</p>
			<p>Made with ❤️ for 👤 on 🌎</p>
		</div>
    </body>
</html>