<!DOCTYPE html>
<html>
    <head>
        <title>Tanks!</title>
        <link rel="icon" type="image/x-icon" href="https://icons.g10.app/g10.png">
        <link rel="stylesheet" type="text/css" href="https://g10.app/style.css">
		<script src="https://unpkg.com/htmx.org@1.9.8"></script>
        <meta charset="UTF-8" />
    </head>
    <body>
		<div hx-get="https://g10.app/navbar.html" hx-swap="outerHTML" hx-trigger="load"></div>
		<div hx-get="https://g10.app/products/navbar.html" hx-swap="outerHTML" hx-trigger="load"></div>
		<div hx-get="https://g10.app/products/tanks/navbar.html" hx-swap="outerHTML" hx-trigger="load"></div>

		<div class="body">
			<h1 style="color: #ff0000;font-family: Arial, Helvetica, sans-serif;margin-bottom: 0.5em;">[IN DEVELOPMENT]</h1>
			<p>Tanks! is a game about angles, rockets, tanks, explosions, and mines! Play through a solo campaign, engage in co operative missions with your friends, or blow them up in counter operative. </p>
			<div style="flex:50%;vertical-align: middle;">
				<img src="Tanks-1.png" width="38%" style="margin-top: 1em;">	
				<img src="Tanks-2.png" width="17.5%" style="margin-top: 1em;">
				<img src="Tanks-3.jpeg" width="38%" style="margin-top: 1em;">
			</div>
			<p></p>
			<div style="flex:50%;vertical-align: middle;">
				<img src="new_tank.png" width="48%" style="margin-top: 1em;">	
				<img src="tank_pallette.png" width="48%" style="margin-top: 1em;">
			</div>
			<p style="margin-bottom: 8em;"></p>
		</div>
		
		<div class="footer">
			<p>Tanks! Copyright © 2024, Jacob Smith, Donald Clark, Aiden Smith, Seth Moore.</p>
			<p>Made with ❤️ for 👤 on 🌎</p>
		</div>
    </body>
</html>