<!DOCTYPE html>
<html>
    <head>
        <title>G10 Desktop</title>
        <link rel="icon" type="image/x-icon" href="https://icons.g10.app/g10.png">
        <link rel="stylesheet" type="text/css" href="https://g10.app/style.css">
		<script src="https://unpkg.com/htmx.org@1.9.8"></script>
        <meta charset="UTF-8" />
    </head>
    <body>
		<div hx-get="https://g10.app/navbar.html" hx-swap="outerHTML" hx-trigger="load"></div>
		<div hx-get="https://g10.app/desktop/navbar.html" hx-swap="outerHTML" hx-trigger="load"></div>
		
		<div class="body" style="padding-top: 1em;">
			<div style="display: table; width: 100%; justify-content: center; margin: 0; text-align: center;">
				<h1 style="margin: 0.75em 0% 0.5em 0%;"><b>G10 Desktop</b></h1>
				<div width="100%" style="margin: 0 35%">
					<div style="display: grid; width: 100%; justify-content: center; margin: 0; text-align: left;">
						<div style="padding: 0;margin: 0% 0% 0em 0%;">
							G10 Desktop is a desktop runtime for the G10 game engine. This page discusses the scope of this project, how it interacts with the rest of G10, and the reasoning behind these decisions. Let's start with a structural overview of G10. 
						</div>
					</div>
				</div>
			</div>

			<h3 style="margin: 2em 0% 1% 0%; text-align: center;">Structure</h3>
			<div width="100%" style="margin: 0 35%">
				<div style="display: grid; width: 100%; justify-content: center; margin: 0; text-align: left;">
					<div style="padding: 0;margin: 0% 0% 0em 0%;">
						<b>TODO</b>
					</div>
				</div>
			</div>

			<h3 style="margin: 2em 0% 1% 0%; text-align: center;">Scope</h3>
			<div width="100%" style="margin: 0 35%;padding: 0 0em 8em 0em">
				<div style="display: grid; width: 100%; justify-content: center; margin: 0; text-align: left;">
					<div style="padding: 0;margin: 0% 0% 0em 0%;">
						<b>TODO</b>
					</div>
				</div>
			</div>

		<div class="footer">
			<p>g10 Desktop, Copyright © 2024, Jacob Smith.</p>
			<p>Made with ❤️ for 👤 on 🌎 </p>
		</div>
    </body>
</html>